.workout-to-print {
  color: #000;
  background-color: #fff;
  padding: 1rem;
  width: 792px;
  height: 1120px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.workout-to-print-exercises {
  display: flex;
  gap: 1rem;
}
