.app-main {
  align-items: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 12vh 15%;
}

.form-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px 32px;
  flex-wrap: wrap;
}

.form-submit {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 4px 32px;
  text-align: center;
  cursor: pointer;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
}

.bodypart-filter,
.target-filter,
.equipment-filter {
  padding: 4px 8px;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
}
