.app-main {
  align-items: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 12vh 15%;
}

.app-main .exercises-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.app-main .exercises-container .exercise-card img {
  width: 100%;
}
