.exercise-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-weight: bold;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
}

.exercise-card .card-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.exercise-card hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.exercise-card img {
  background-color: var(--accent-color);
  width: 100%;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
}

.exercise-card-menu {
  display: flex;
  justify-content: flex-end;
}
.exercise-card-menu-btn {
  cursor: pointer;
  margin-top: -0.5rem;
  background-color: transparent;
  border: none;

  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}
