.filter-label {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.filter-label p {
  font-weight: bold;
}

.filter-label select {
  color: var(--secondary-color);
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
}

.filter-label select option {
  font-weight: 600;
}
.filter-label select option:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}
.filter-label select option:checked {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
