.mobile-menu li ul {
  display: none;
  position: absolute;
  background-color: var(--accent-color);
  margin: 8px 0 0 -54px;
  padding: 0 8px;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.mobile-menu .mobile-menu-button:hover {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  -webkit-border-radius: var(--border-radius) var(--border-radius) 0 0;
  -moz-border-radius: var(--border-radius) var(--border-radius) 0 0;
  -ms-border-radius: var(--border-radius) var(--border-radius) 0 0;
  -o-border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.mobile-menu li:hover > ul {
  display: block;
}

.mobile-menu .mobile-menu-dropdown li:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}
