.app-header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 10vh;
}
@media screen and (max-width: 1024px) {
  .app-header {
    padding: 1rem 10%;
  }
}
@media screen and (max-width: 768px) {
  .app-header {
    padding: 1rem 32px;
  }
}

.app-header h1 {
  cursor: pointer;
}
