main {
  align-items: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 12vh 15%;
}
@media screen and (max-width: 1024px) {
  main {
    padding: 12vh 10%;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding: 12vh 32px;
  }
}

.app-btn-primary {
  background-color: #fff;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-align: center;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.app-btn-primary a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.app-btn-primary:hover {
  background-color: #ffffffe8;
}
.app-btn-primary-big {
  font-size: 1.1rem;
  margin: 1rem 0;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
}
