.creator-main .creator-title-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .creator-main .creator-title-btn-container {
    margin-bottom: 0;
  }
}

.creator-main .creator-title-btn-container .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1580px) {
  .creator-main .btn-container {
    width: 100%;
    margin-top: 2rem;
  }
}

.creator-main .workout-days {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
